.btn-custom-1{
  width: 130px;
  height: 50px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  color: #315cfd;
}

button:hover {
  background: #315cfd;
  color: white;
  font-size: 1.3em;
}
