/* welcome */
.header-custom{
  font-weight: bold;
  font-size: x-large;
  background-color: #c41b1b;
  width: 100%;
  height: 40px;
  margin-top: 70px;
}
.navbar-custom{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 70px;
}

/* Crea post */
.btn-custom-1{
  width: 130px;
  height: 50px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  color: #315cfd;
}
.btn-custom-2{
   margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #09cfae;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .3s;
}
.col-custom1{
  background-color:  #315cfd;
  border-radius: 5%;
  color: #181818; 
}
.col-custom2{
  background-color:  #181818 ;
  border-radius: 5%;
  color: #315cfd; 
  justify-content: center;
}

button:hover {
  background: #315cfd;
  color: white;
  /* font-size: 1.3em; */
}

/* Elimina post */
button {
 width: 160px;
 height: 40px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
}

button, button span {
 transition: 200ms;
}

button .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

button .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

button svg {
 width: 15px;
 fill: #eee;
}

button:hover {
 background: #ff3636;
}

button:hover .text {
 color: transparent;
}

button:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

button:focus {
 outline: none;
}

button:active .icon svg {
 transform: scale(0.8);
}


/* Modifica post in welcome */
.img-custom1{
  width: 150px;
  height: 300px;
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #315cfd;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.btn-custom-2:hover {
  color: transparent;
  background-color: #09cfae;
}

.btn-custom-2:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
  
}


.btn-custom-2:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
  
}


.Btn:hover {
  color: transparent;
  background-color: #315cfd;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
  
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px #315cfd;
}

/* Card */

.card-custom{
  width: 300px;
}

/* footer */
footer {
    background-color: #f0f2f5;
    font-size: 0.9rem;
}

footer a:hover {
    text-decoration: underline;
}

footer h6 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

footer .form-control {
    min-width: 200px;
}

/* post show  */

.img-custom{
  width: 300px;
  height: 300;
  align-items: center;
}
.h1-custom{
  margin-top: 70px ;
}

/* edit-post */

.edit-post{
  width: 600px;
}

/* post */



/* article-profile */

.article-custom{
  width: 600px;
}



/* navbar tasto cerca */

.search-btn{
  width: 80px;
  height:38px;
}


.sidebar-left{
  
    height: 270px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.sidebar-right {
    border-right: none;
    border-left: 1px solid #ddd;
}

.nav-link-custom:hover{
  transform: translate(1px , 1px);
}

/* bottone leggi commenti effetto hover extra*/


/* From Uiverse.io by OnCloud125252 */ 
/* From Uiverse.io by MuhammadHasann */ 
.button1 {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 50px;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.button1:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

.button1:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button1:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button1:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button1:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button1:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button1:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #f5da10;
}
