/* Crea post */
.btn-custom-1{
  width: 130px;
  height: 50px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  color: #315cfd;
}

button:hover {
  background: #315cfd;
  color: white;
  /* font-size: 1.3em; */
}

/* Elimina post */
button {
 width: 160px;
 height: 40px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
}

button, button span {
 transition: 200ms;
}

button .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

button .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

button svg {
 width: 15px;
 fill: #eee;
}

button:hover {
 background: #ff3636;
}

button:hover .text {
 color: transparent;
}

button:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

button:focus {
 outline: none;
}

button:active .icon svg {
 transform: scale(0.8);
}

/* Modifica post */

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #315cfd;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
  background-color: #315cfd;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
  
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px #315cfd;
}

/* Card */

.card-custom{
  width: 500px;
}

/* post show */

.img-custom{
  width: 1000px;
}

/* edit-post */

.edit-post{
  width: 600px;
}

/* post */

.post-custom{}

/* article-profile */

.article-custom{
  width: 600px;
}



/* navbar tasto cerca */

.search-btn{
  width: 80px;
  height:38px;
}


.sidebar-left{
  
    height: 270px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.sidebar-right {
    border-right: none;
    border-left: 1px solid #ddd;
}

.nav-link-custom:hover{
  transform: translate(1px , 1px);
}
